  .error {
    color: red;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .created {
    color: green;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ownButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}


 .blogStyle {
  padding-top: 10;
  padding-left: 2;
  border: solid 1px;
  border-width: 1;
  margin-bottom: 5
}

.blueButton {
  background:lightblue;
}

.content {
  background:lightblue;
}

.contentLike {
  background:lightblue;
}

.wrapper {
  background:lightblue;
}